
.table1 {
    border-collapse: collapse;
}

.table1 th {
    font-size: small;
    font-style: normal;
    font-weight: normal;
    text-align: right;
    border-bottom: 1px dotted #ccc;
    padding: 5px;
    width: 110px;
}

.table1 td {
    text-align: left;
    border-bottom: 1px dotted #ccc;
    padding: 5px;
    height: 35px;
}

.table1 input,select{
    width: 250px;
    height: 25px;
    font-size: 14px;
}

.import_div {
    width: 400px;
    margin: 0 auto;
}